- model_class = Informat::Participant
%table.table.table-striped.table-condensed
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:avatar)
      %th= model_class.human_attribute_name(:full_name)
      %th= model_class.human_attribute_name(:birth_date)
      %th= model_class.human_attribute_name(:place)
      %th= model_class.human_attribute_name(:school_group)
      %th= model_class.human_attribute_name(:contacts)
      %th= model_class.human_attribute_name(:portfolio)
      %th= model_class.human_attribute_name(:creative_work)
      %th=t '.actions', default: t("helpers.actions")
  %tbody
    - participants.each do |participant|
      %tr
        %td= link_to participant.id, edit_admin_informat_participant_path(participant)
        %td= image_tag participant.avatar.small
        %td= link_to participant.full_name, edit_admin_informat_participant_path(participant)
        %td= participant.formated_birth_date
        %td= participant.place
        %td= participant.school_group
        %td= participant.contacts
        %td= link_to model_class.human_attribute_name(:portfolio), participant.portfolio.url
        %td
          - if participant.creative_work.present?
            = link_to model_class.human_attribute_name(:creative_work), participant.creative_work.url
            %br
          - if participant.url_creative_work.present?
            = link_to model_class.human_attribute_name(:url_creative_work), participant.url_creative_work
        %td
          - if participant.fresh?
            = link_to t('.accept', default: t('helpers.links.accept')), admin_informat_participant_path(participant, participant: { confirm_state: :accepted }), method: :put, class: 'btn btn-success btn-xs'
          - unless participant.busted?
            = link_to t('.bust', default: t('helpers.links.bust')), admin_informat_participant_path(participant, participant: { confirm_state: :busted }), method: :put, class: 'btn btn-danger btn-xs'
          = link_to t('.edit', default: t("helpers.links.edit")), edit_admin_informat_participant_path(participant), class: 'btn btn-warning btn-xs'
          = link_to t('.destroy', default: t("helpers.links.destroy")), admin_informat_participant_path(participant), method: :delete, data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) }, class: 'btn btn-xs btn-danger'

= link_to t('.new', default: t("helpers.links.new")), new_admin_informat_participant_path, class: 'btn btn-primary'
