<h1>Listing users</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Middle name</th>
    <th>Last name</th>
    <th>District</th>
    <th>Birth date</th>
    <th>School</th>
    <th>Group</th>
    <th>Job</th>
    <th>Role</th>
    <th>City</th>
    <th>Street</th>
    <th>House</th>
    <th>Building</th>
    <th>Flat</th>
    <th>Mobile phone</th>
    <th>Home phone</th>
    <th>Icq</th>
    <th>Email</th>
    <th>Vkontakte</th>
    <th>Twitter</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.first_name %></td>
    <td><%= user.middle_name %></td>
    <td><%= user.last_name %></td>
    <td><%= user.district %></td>
    <td><%= user.birth_date %></td>
    <td><%= user.school %></td>
    <td><%= user.group %></td>
    <td><%= user.job %></td>
    <td><%= user.role %></td>
    <td><%= user.city %></td>
    <td><%= user.street %></td>
    <td><%= user.house %></td>
    <td><%= user.building %></td>
    <td><%= user.flat %></td>
    <td><%= user.mobile_phone %></td>
    <td><%= user.home_phone %></td>
    <td><%= user.icq %></td>
    <td><%= user.email %></td>
    <td><%= user.vkontakte %></td>
    <td><%= user.twitter %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
