- if session[:user_id].nil?
  = render 'page_404'
- else
  = simple_form_for @user do |f|
    = f.label :first_name 
    = @user.first_name
    = f.label :middle_name
    = @user.middle_name
    = f.label :last_name
    = @user.last_name
    = f.label :district
    = f.label "UFCK"
    = f.label :birth_date
    = @user.birth_date 
    = f.label :school
    = @user.school
    = f.label :group
    = @user.group
    = f.label :job
    = @user.job
    = f.label :role
    = @user.role
    = f.label :city
    = @user.city
    = f.label :street
    = @user.street
    = f.label :house
    = @user.house
    = f.label :building
    = @user.building
    = f.label :flat
    = @user.flat
    = f.label :mobile_phone
    = @user.mobile_phone
    = f.label :home_phone
    = @user.home_phone
    = f.label :icq
    = @user.icq
    = f.label :email
    = @user.email
    = f.label :vkontakte
    = @user.vkontakte
    = f.label :twitter
    = @user.twitter
    = f.label :events
    = @user.events
    = f.label :honors
    = @user.honors
    = f.label :media
    = @user.media
