%p
  %b Руководитель
  = @public_work.header
%p  
  %b Координаты руководителя
  = @public_work.header_coordinates
%p  
  %b Номинация
  = @public_work.nomination
%p  
  %b Название
  = @public_work.title
%p  
  %b Аннотация
  = @public_work.annotation
%p  
  %b Текст
  = @public_work.text
%p  
  %b Ссылка на видео
  = @public_work.video_link

= button_to 'Перейти к загрузке портфолио', upload_path, :class => "btn btn-large btn-success"
