%html
  %head
    %title Новый взгляд
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag    :application
    = javascript_include_tag :application
    = stylesheet_link_tag :fractionslider
    = javascript_include_tag 'jquery.fractionslider.min'
    = csrf_meta_tags
  %body
    = yield
