%html
  %head
    %title Новый взгляд
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container-narrow
      .masthead
        %h4.muted
          X конкурс начинающих журналистов "Новый взгляд"
      %hr
      = yield
      %hr
      = render "layouts/footer"
