%html
  %head
    %title Новый взгляд
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %ul#scene
      %li.layer{ data: { depth: 0.40 }} 
        .genry
          = image_tag 'genry.png'
      %li.layer{ data: { depth: 0.0 }}
    .pulldown_logo
      = image_tag 'logo.png'
    .container
      = yield
    = render "layouts/footer"
    = javascript_include_tag "jquery.parallax"
